@import url("https://fonts.googleapis.com/css2?family=Piedra&display=swap");
@import url(./font.css);
@import url(./partials/_variables.css);
@import url(./partials/_global.css);

/* :root{
  filter: invert(100%);
} */

/* *{
  border: 1px solid black;
} */

.loading_area{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-height: 100vh;
}

.loader{
    height: 50px;
    transform-origin: bottom center;
    animation: rotate 3s linear infinite;
}

.circle{
    display: inline-block;
    background-color: rgb(23, 65, 129);
    height: 40px;
    width: 40px;
    border-radius: 50%;
    transform: scale(0);
    animation: grow 1.5s linear infinite;
    margin: -10px;
}

.circle:nth-child(2){
    background-color: rgb(74, 157, 168);
    animation-delay: 0.75s;
}

@keyframes rotate{
    to{
        transform: rotate(360deg);
    }
}

@keyframes grow{
    50%{
        transform: scale(1);
    }
}


.logo {
  font-family: "Piedra";
  font-size: 2.3em;
  color: rgb(74, 157, 168);
  padding: 0 12.5ex 0 0;
}

.header_area .main-menu .navbar .navbar-brand {
  padding: 0 2rem 0 5rem;
}

.header_area .main-menu .navbar {
  padding: 1rem 16rem;
}

.header_area .main-menu .nav-item .nav-link {
  font: normal 500 13px/2px var(--roboto);
  font-family: var(--roboto);
  text-transform: uppercase;
  font-weight: 500;
  padding: 1.7rem;
  color: var(--title-color);
}

.header_area .main-menu .navbar-nav .active a {
  background: var(--gradient-color);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.header_area .main-menu .navbar-nav a:hover {
  background: var(--gradient-color);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

/* .light-dark{
  display: flex;
  align-items: flex-start;
  justify-content: start;
  
}

input[type="checkbox"]{
  -webkit-appearance: none;
  visibility: hidden;
  display: none;
}

.check{
  position: relative;
  display: block;
  width: 40px;
  height: 20px;
  background: #092c3e;
  cursor: pointer;
  border-radius: 20px;
  overflow: hidden;
  transition: ease-in 0.5s;
}

input[type="checkbox"]:checked ~ .check{
  background:  #fff;
  box-shadow: 0 0 0 1200px #092c3e;
}

.check::before{
  content: '';
  position: absolute;
  top: 2px;
  left: 2px;
  background: #fff;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  transition: 0.5s;
} */

div.tag{
  position: absolute;
  left: auto;
  top: 15%;
}

.site-main .site-banner .site-title h3 {
  padding-top: 35%;
  font-weight: 500;
}

.site-main .site-banner .site-title h3::after {
  content: "";
  height: 2px;
  width: 18vw;
  background: black;
  display: inline-block;
  margin-left: 5%;
  transform: translateY(-10px);
}

.site-main .site-banner .site-title h1 {
  font-size: 1.5rem;
}

.site-main .site-banner .banner-image > img {
  padding: 7rem 0;
  width: 90rem;
}

.site-main .about-area{
  padding: 8rem 5rem;
}

.site-main .about-area .about-title h2 > span{
  display: block;
  font:normal bold 49px/60px var(--roboto);
  letter-spacing: 21px;
}

.site-main ,.about-area .about-title .paragraph > p{
  padding: 4rem 0;
}

.site-main .services-area{
  padding: 7rem 2rem;
}

.site-main .services-area .services-title{
  padding: 0 14rem;
}

.site-main .services-area .services-title h1{
  font-size: 35px;
}

.site-main > .services-area .services{
  background-color: rgba(248, 252, 253, 0.877);
  padding: 2rem 0;
  margin: 5rem .5rem;
  transition: box-shadow .7s ease;
}

.site-main > .services-area .services:hover{
  box-shadow: var(--box-shadow);
}

/*Project*/

.site-main .project-area{
  padding: 4rem 0;
}

.site-main .project-area .grid .our-project > .title h4{
  font: normal 700 25px/12px var(--roboto);
}