@import url("https://fonts.googleapis.com/css2?family=Piedra&display=swap");
@import url(./font.css);
@import url(./partials/_variables.css);
@import url(./partials/_global.css);

/* Loading */
.loading_area {
  background: whitesmoke url(../img/preloader-backgound.gif) no-repeat center
    center;
  height: 100vh;
  width: 100%;
  position: fixed;
  z-index: 100;
}

.logo {
  font-family: "Piedra";
  font-size: 2.3em;
  color: var(--third-color);
  padding: 0 12.5ex 0 0;
}

/* NavBar */
.header_area .main-menu .navbar .navbar-brand {
  padding: 0 1rem 0 1rem;
}

.header_area .main-menu .navbar {
  padding: 1rem 16rem;
}

.header_area .main-menu .navbar .collapse {
  display: flex;
  justify-content: flex-end;
}

.header_area .main-menu .navbar-nav li {
  width: 9rem;
}

.header_area .main-menu .nav-item .nav-link {
  font: normal 500 16px/2px var(--roboto);
  font-family: var(--roboto);
  text-transform: uppercase;
  font-weight: 500;
  padding: 1.7rem;
  color: var(--title-color);
}

.header_area .main-menu .navbar-nav .active a {
  background: var(--gradient-color);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.header_area .main-menu .navbar-nav a:hover {
  background: var(--gradient-color);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

/* SVG 3D */
nav.tag {
  padding: 2rem 0 2rem 0;
}
/* Banner */
.site-main .site-banner .site-title h3 {
  padding-top: 20%;
  font-weight: 500;
}

.site-main .site-banner .site-title h3::after {
  content: "";
  height: 2px;
  width: 18vw;
  background: black;
  display: inline-block;
  margin-left: 5%;
  transform: translateY(-10px);
}

.site-main .site-banner .site-title h1 {
  font-size: 1.5rem;
}

.site-main .site-banner .banner-image > img {
  padding: 7rem 0;
  width: 90rem;
}

/* About */
.site-main .about-area {
  padding: 6rem 0;
}

.site-main .about-area .about-title h2 > span {
  display: block;
  font: normal bold 49px/60px var(--roboto);
  letter-spacing: 21px;
}

.site-main,
.about-area .about-title .paragraph > p {
  padding: 1.9rem 0;
}

/* Education & Experience */
.site-main .edu-exp-area {
  padding: 2rem 0;
}

button {
  font-family: inherit;
  user-select: none;
}

.site-main .edu-exp-area .about-table .tab-item {
  padding: 3px 0;
  background-color: transparent;
  text-transform: capitalize;
  border: none;
  display: inline-block;
  color: var(--title-color);
  font-size: 20px;
  cursor: pointer;
  font-weight: 500;
  margin: 0 30px 0 0;
  position: relative;
  opacity: 0.5;
  transition: all 0.3s ease;
}

.site-main .edu-exp-area .about-table .tab-item:last-child {
  margin: 0;
}

.site-main .edu-exp-area .about-table .tab-item::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 1px;
  background-color: var(--text-color);
  transition: width 0.3s ease;
}

.site-main .edu-exp-area .about-table .tab-item:hover::before {
  width: 100%;
}

.site-main .edu-exp-area .about-table .tab-item.active::before{
  width: 100%;
}

.site-main .edu-exp-area .about-table .tab-item.active {
  background: var(--gradient-color);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  opacity: 1;
  cursor: auto;
}

.site-main .edu-exp-area .timeline {
  position: relative;
}

.site-main .edu-exp-area .timeline::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 1px;
  top: 0;
  left: 5px;
  background-color: var(--third-color);
}

.site-main .edu-exp-area .tab-content {
  padding: 40px 0;
  display: none;
}

.site-main .edu-exp-area .tab-content.active {
  display: block;
}

.site-main .edu-exp-area .timeline-item {
  position: relative;
  padding: 10px 0 0 40px;
}

.site-main .edu-exp-area .timeline-item::before {
  content: "";
  position: absolute;
  height: 11px;
  width: 11px;
  background-color: var(--third-color);
  left: 0;
  top: 16px;
  border-radius: 50%;
}

.site-main .edu-exp-area .timeline-item .date {
  display: block;
  color: var(--third-color);
  font-weight: 600;
  margin: 0 0 10px;
  font-size: 17px;
}

.site-main .edu-exp-area .timeline-item .city {
  display: block;
  font-weight: 550;
  margin: 0 0 10px;
  font-size: 14px;
}

.site-main .edu-exp-area .timeline-item h4 {
  font-size: 18px;
  text-transform: capitalize;
  margin: 0 0 10px;
}

.site-main .edu-exp-area .timeline-item h4 span {
  font-weight: 400;
}

.site-main .edu-exp-area .timeline-item p {
  font-size: 14px;
}

/* Services */
.site-main .services-area {
  padding: 7rem 2rem;
}

.site-main .services-area .services-title {
  padding: 0 14rem;
}

.site-main .services-area .services-title h1 {
  font-size: 35px;
}

.site-main > .services-area .services {
  background-color: rgba(248, 252, 253, 0.877);
  padding: 2rem 0;
  margin: 5rem 0.5rem;
  transition: box-shadow 0.7s ease;
}

.site-main > .services-area .services:hover {
  box-shadow: var(--box-shadow);
}

/*Project*/
.site-main .project-area {
  padding: 4rem 0;
}

.site-main .project-area .grid .our-project > .title h4 {
  font: normal 700 25px/12px var(--roboto);
}

.site-main .project-area .grid .our-project .img a:hover img {
  filter: brightness(1.1) drop-shadow(1px 8px 30px #b1afaf);
}

/* Contact Me */
.site-main .contact-me-area .contact {
  background: url(../img/subscribe-bg.jpg) no-repeat;
  padding: 2rem;
  margin: 2rem auto;
}

.site-main .contact-me-area .contact .contact-form .contact-info{
  width: 50%;
  padding: 0 15px;
}


.site-main .contact-me-area .contact .contact-title h4 {
  font: normal 700 30px/30px var(--roboto);
  color: whitesmoke;
  padding: 1.7rem 3rem;
}

.site-main .contact-me-area .contact .contact-form .input-textbox {
  width: 400px;
  padding: 1.5rem 1rem;
  background: transparent;
  color: white;
  font: normal 500 17px/20px var(--roboto);
}

.site-main .contact-me-area .contact .contact-form .input-textbox .form-control{
  display: block;
  width: 100%;
  height: 50px;
  border-radius: 15px;
  border: none;
  font-family: inherit;
  font-weight: 400;
  font-size: 14px;
}

.site-main
  .contact-me-area
  .contact
  form
  .input-textbox
  input + textarea::placeholder {
  color: whitesmoke;
}

.site-main .contact-me-area .contact form .btn-submit button {
  background: whitesmoke;
  color: #000;
  padding: 0.7rem 2rem;
}

/* Footer */
.footer-area .flex-wrap .site-logo a {
  text-decoration: none;
}

.footer-area .flex-wrap .site-logo a > h1 {
  font-family: "Piedra";
  font-size: 2.7em;
  color: rgb(74, 157, 168);
}

.footer-area .social {
  padding: 1.8rem;
}

.footer-area .social a {
  color: #000;
}
